@import "theme.css";

* {
    box-sizing: border-box;
}

html {
    font-family: 'K2D', 'Time New Roman';
    cursor: default;
}

body {
    background: var(--theme1);
}

.header {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--theme1);
    box-shadow: 1px 2px 0px 0.5px hsl(0, 0%, 0%, 0.4);
    z-index: 3;
}

.header label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 10%;
    font-size: 1.25em;
    margin-right: 20px;
    transition: 0.4s;
    padding: 10px;
}

.header label:hover {
    box-shadow: 1px 1px 0.5px hsl(0, 0%, 0%),
        1.5px 1.5px 1px hsl(0, 0%, 0%, 0.6),
        2px 2px 2px hsl(0, 0%, 0%, 0.4);
    transform: translate(-4px, -2px);
}

.header label:active {
    box-shadow: 1px 3px 2px 1px hsl(0, 0%, 0%, 0.3) inset;
}

.header label:hover {
    cursor: pointer;
}

.header__home {
    transform: rotateY(180deg);
    text-decoration: none;
    font-size: 1.5em;
    padding: 20px;
}

.header__paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    font-size: 3em;
}

.header__avatar {
    width: 10%;
    border-radius: 50%;
}

.header__avatar--change {
    display: none;
}

.user-information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60vw;
    height: fit-content;
    margin-top: 5vh;
    margin-left: 20vw;
    margin-right: 20vw;
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 20px;
    font-size: 1.5em;
    margin-bottom: 2em;
    z-index: 2;
}

.user-information__title {
    font-size: 2em;
}

.user-information__id {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 10px;
    font-size: 1.25em;
}

.user-information__name,
.user-information__username,
.user-information__phone,
.user-information__email {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1.25em;
}

.user-information__name--fullname,
.user-information__username--username,
.user-information__phone--phonenumber,
.user-information__email--mail {
    padding: 10px;
}

.user-information__birthandsex {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15px;
}

.user-information__birth,
.user-information__sex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
    font-size: 1.25em;
}

.change-information__fullname,
.change-information__username,
.change-information__phonenumber,
.change-information__email,
.change-information__birthday,
.change-information__sex {
    display: none;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    transition: 0.5s;
}

.change-information--button {
    border-radius: 10px;
    background: none;
    border: none;
    width: fit-content;
    font-size: 24px;
    cursor: pointer;
    transition: 0.4s;
    width: 40px;
}

.change-information--button:hover {
    transform: rotateY(180deg);
    box-shadow: -1px 1px 0.5px hsl(0, 0%, 0%),
        -1.5px 1.5px 0.25px hsl(0, 0%, 0%, 0.6),
        -2px 2px 0.15px hsl(0, 0%, 0%, 0.4);
}

.change-information--button:active {
    box-shadow: 1px 3px 2px 1px hsl(0, 0%, 0%, 0.3) inset;
}

.close {
    background: none;
    border: none;
    color: hsl(0, 100%, 100%);
    font-size: 20px;
    filter: drop-shadow(0px 0px 1px hsl(0, 100%, 26%)) drop-shadow(0px 0px 2px hsl(0, 100%, 58%)) drop-shadow(0px 0px 4px hsl(0, 100%, 80%));
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}

.close:hover {
    color: hsl(0, 100%, 60%);
    filter: drop-shadow(0px 0px 2px hsl(0, 100%, 30%)) drop-shadow(0px 0px 4px hsl(0, 100%, 50%)) drop-shadow(0px 0px 8px hsl(0, 100%, 80%));
}

.close:active {
    transform: scale(0.5);
}

.agree {
    background: none;
    border: none;
    color: hsl(0, 100%, 100%);
    font-size: 20px;
    filter: drop-shadow(0px 0px 1px hsl(112, 100%, 10%)) drop-shadow(0px 0px 2px hsl(112, 100%, 30%)) drop-shadow(0px 0px 4px hsl(112, 100%, 50%));
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}

.agree:hover {
    color: hsl(112, 100%, 40%);
    filter: drop-shadow(0px 0px 2px hsl(112, 100%, 30%)) drop-shadow(0px 0px 4px hsl(112, 100%, 50%)) drop-shadow(0px 0px 8px hsl(112, 100%, 80%));
}

.agree:active {
    transform: scale(0.5);
}