:root {
        /* Main colors */
        --y-50: hsl(63, 92%, 95%);
        --y-100: hsl(62, 93%, 88%);
        --y-200: hsl(60, 96%, 79%);
        --y-300: hsl(58, 96%, 64%);
        --y-400: hsl(55, 94%, 53%);
        --y-500: hsl(53, 92%, 47%);
        --y-600: hsl(48, 94%, 40%);
        --y-700: hsl(43, 89%, 33%);
        --y-800: hsl(39, 80%, 29%);
        --y-900: hsl(35, 71%, 26%);
        --y-950: hsl(33, 81%, 14%);
        /* Neutral colors */
        --n-50: hsl(210, 14%, 97%);
        --n-500: hsl(215, 16%, 47%);
        --n-600: hsl(215, 16%, 35%);
        /* Secondary colors */
        --p-50: hsl(270, 100%, 98%);
        --p-100: hsl(269, 100%, 95%);
        --p-200: hsl(269, 100%, 92%);
        --p-300: hsl(269, 100%, 82%);
        --p-400: hsl(270, 98%, 75%);
        --p-500: hsl(270, 93%, 65%);
        --p-600: hsl(271, 83%, 56%);
        --p-700: hsl(272, 73%, 47%);
        --p-800: hsl(272, 69%, 39%);
        --p-900: hsl(273, 67%, 32%);
        --p-950: hsl(273, 89%, 21%);
        /* Third colors */
        --b-50: hsl(202, 73%, 97%);
        --b-100: hsl(205, 69%, 94%);
        --b-200: hsl(202, 69%, 86%);
        --b-300: hsl(200, 70%, 75%);
        --b-400: hsl(199, 68%, 60%);
        --b-500: hsl(199, 65%, 48%);
        --b-600: hsl(201, 72%, 39%);
        --b-700: hsl(202, 71%, 32%);
        --b-800: hsl(202, 66%, 27%);
        --b-900: hsl(203, 59%, 24%);
        --b-950: hsl(206, 58%, 16%);
        /* Background color */
        --theme1: linear-gradient(to right, var(--y-50), var(--y-100), var(--y-200));
        --theme2: linear-gradient(to right, var(--p-200), var(--p-400), var(--p-500));
        --theme3: linear-gradient(to right, var(--b-200), var(--b-300), var(--b-400));
        --morning: linear-gradient(180deg,
                        hsl(48, 100%, 86%),
                        hsl(206, 100%, 91%),
                        hsl(204, 73%, 66%));
        --noon: linear-gradient(180deg, hsl(60, 96%, 79%), hsl(60, 96%, 79%), hsl(58, 96%, 64%));
        --afternoon: linear-gradient(180deg,
                        hsl(42, 100%, 70%),
                        hsl(29, 93%, 52%),
                        hsl(24, 100%, 45%));
        --night: linear-gradient(180deg,
                        hsl(214, 29%, 80%),
                        hsl(210, 28%, 67%),
                        hsl(210, 28%, 45%));
}